/* Section for general use items */
:root {
    --primary-color: rgb(157, 115, 192);
    --secondary-color: rgb(64, 12, 99);
    --third-color: rgb(73, 46, 104);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(210, 205, 248);
}
/* End general section */

/* Start Header Styles */
header {
    padding: 10px 0;
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    background-color: var(--primary-color);
    margin: 0;
    font-size: 50px;
    padding-left: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 0 10px 10px 0; 
}

header a{
    color:var(--third-color);
    padding-left: 30px;
    padding-right: 15px;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    color: var(--primary-color);
    font-size: 30px;
}
/* End Header Styles */

/* Start Hero Styling */
.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    background-image: url('../images/purple-gradient-hero-bg.jpg');
    background-size: cover;
}

.hero img {
    margin: 0 0 10px 50px;
}

.hero h2 {
    color: var(--third-color);
    margin: 0 50px 10px 0;
    font-size: 50px;
    text-shadow: 4px 0 3px var(--secondary-color);
}
/* End Hero Styles */

/* Styles for the 3 main sections */
.main-content {
    display: flex;
    margin: 50px;
}

.main-content h2 {
    font-size: 40px;
    text-align: right;
    width: 300px;
    padding-right: 20px;
    color: var(--third-color);
    text-shadow: 4px 0 3px var(--primary-color);
}
/* End Main Styles */

/* Start About Me Styles */
.about-me {
    display: flex;
    align-items: center;
    
}

.about-info {
    border-left: var(--secondary-color) 5px solid;
    padding-left: 40px;
    width: 75%;
}

.about-text p {
    font-size: 20px;
    align-items: center;
    color: var(--third-color);
}
/* End About Me Styles */

/* Start Work Styles */
.work {
    justify-content: space-between;
}
.work h2 {
    margin-top: 30px;
}

.work-tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: var(--secondary-color) solid 5px;
}

.work-tiles img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.work-img {
    position: relative;
    max-width: 100%;
    height: auto;
    border: var(--primary-color) solid 8px;
    margin-left: 32px;
    margin-bottom: 20px;
    opacity: 60%;
    transition: opacity, 1s;
}

.larger-img {
    max-width: 1024px;
}

.smaller-img {
    max-width: 500px;
    height: auto;
    flex-shrink: 1;
    
}

.small-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    flex-shrink: 2;
}

.work-img:hover {
    opacity: 100%;
    transition: opacity, 1s;
}

.img-text {
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: var(--primary-color);
    padding: 5px;
}

.img-text h3 {
    font-style: bold;
    font-size: 23px;
}

.img-text h4 {
    font-style: italic;
    font-size: 18px;
}
/* End Work Styles */

/* Start Contact Me Styles */
.contact {
    display: flex;
}

.contact ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-left: var(--secondary-color) solid 5px;
    align-items: center;

}

.contact ul a {
    padding: 10px 15px;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}
/* End Contact Me Styles */

/* Media Queries for use with smaller screens */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        
    }
    header h1 {
        border-radius: 0;
        background-color: var(--third-color);
        width: 100%;
        text-align: center;
    }

    header a {
        color: var(--primary-color);
        text-align: center;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .hero {
        width: 100%;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 30px;
        justify-content: center;
    }
    
    .div-heading {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .about-me {
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .main-content h2 {
        text-align: center;
        font-size: 50px;
        padding: 0;
        width: 100%;
    }

    .about-info {
        border-left: none;
        border-top: var(--secondary-color) solid 5px;
        padding-top: 15px;
        padding-left: 0;
    }

    .about-text p {
        font-size: 25px;
        text-align: center;
    }

    .work-tiles {
        border-left: none;
        padding: 0;
        border-top: var(--secondary-color) solid 5px;
        flex-direction: column;
    }
    .work-img {
        opacity: 100%;
        margin-left: 0;
        margin-top: 20px;
        width: 750px;
        height: auto;
    }

    .img-text {
        font-size: 20px;
    }

    .smaller-img {
        max-width: none;
    }

    .small-div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact ul {
        width: 100%;
        padding-top: 30px;
        border-left: none;
        border-top: var(--secondary-color) solid 5px;
        margin-bottom: 50px;
        flex-direction: column;
        padding-left: 0;

    }

    .contact ul a {
        font-size: 30px
    }


}
/* End Media Queries */